.btns{
    display: flex;
    gap: 10px;
}
section{
    display: flex;
    justify-content: center;
}
form{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 15px;
}
.input_filds{
    display: flex;
    flex-direction: column;
    position: relative;
}
.input_filds input{
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
}
.input_filds label{
    position: absolute;
    top: -12px;
    left: 20px;
    background-color: white;
}