
.header {
    display: flex;
    justify-content: space-between;
    /* margin: 0px 44px; */
}

.header ul{
    list-style: none;
    display: flex;
    gap: 12px;
    padding: 0px;
    font-weight: 700;
    align-items: center;
    /* background-color: #f5ab49d1; */
}
.header ul li:hover{
    color: #0005fff5;
    cursor: pointer;
}
.contact-page{
    margin: auto;
    width: 60%;
}